*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    background-color: cornflowerblue;
    color: whitesmoke;
    font-size: 3rem;
}

nav{
    padding: 1rem;
    background-color: greenyellow;
    font-size: 2rem;
}

main{
    flex-grow: 1;
    display: grid;
    place-content: center;
}